{% load static %}<!doctype html>
<html lang="en">
<style>
</style>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/07d46185e0.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Anton|Space+Mono|Roboto+Slab|Dosis' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'temperature/style.css' %}">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body >

    {% block content%}
        <figure class="highcharts-figure">
            <div id="container"></div>
        </figure>

        <div class='container'>
            <div class="card bg-light text-dark table_shadow m-1 mb-3 mt-3">
                <p class='text-center p-2 message'>A piZero stacked with django, highcharts and a ds18b20</p>
            </div>
        </div>

    {% endblock %}



    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">© 2019 lgc</div>
    </footer> 
         
  </body>
</html>




<script>
Highcharts.chart('container', {

    chart: {
        type: 'gauge',
        plotBackgroundColor: null,
        plotBackgroundImage: null,
        plotBorderWidth: 0,
        plotShadow: false
    },

    title: {
        text: 'piZero Temperature'
    },

    pane: {
        startAngle: -150,
        endAngle: 150,
        background: [{
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#FFF'],
                    [1, '#333']
                ]
            },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
    },

    // the value axis
    yAxis: {
        min: 0,
        max: 50,

        minorTickInterval: 'auto',
        minorTickWidth: 1,
        minorTickLength: 10,
        minorTickPosition: 'inside',
        minorTickColor: '#666',

        tickPixelInterval: 30,
        tickWidth: 2,
        tickPosition: 'inside',
        tickLength: 10,
        tickColor: '#666',
        labels: {
            step: 2,
            rotation: 'auto'
        },
        title: {
            text: 'degC'
        },
        plotBands: [{
            from: 0,
            to: 15,
            color: '#55BF3B' // green
        }, {
            from: 15,
            to: 30,
            color: '#DDDF0D' // yellow
        }, {
            from: 30,
            to: 50,
            color: '#DF5353' // red
        }]
    },

    series: [{
        name: 'Temperature',
        data: [0],
        tooltip: {
            valueSuffix: ' degC'
        }
    }]

},
// Add some life
function (chart) {
    if (!chart.renderer.forExport) {
        setInterval(function () {

            $.ajax({
            url: '{% url "ajaxTemp" %}',
            dataType: 'json',
            success: function (data) {
                var point = chart.series[0].points[0];
                point.update(data.temperature);
            }
            });
        }, 3000);
    }
});
</script>